body {
  font-family: system-ui !important;
}

.back-button {
  position: fixed;
  top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 1000;
}

.back-button:hover {
  background-color: #0056b3;
}

@media screen and (orientation:portrait) {
  /* .back-button { top: 4vh; } */
  .back-button { top: 45px; }
}
