*
{
	margin:0px;
	padding:0px;
}

.bgbackgroundcontainer
{
	width:110%;
	position:fixed;
	bottom:-5px;
	left:0px;
}

.bgbackground
{
	width:100%;
	animation-property: width;
	animation-property: height;
	transition-duration: 5s;
}

.subject
{
	width:100%;
	position:fixed;
	bottom:-5px;
	left:0px;
}

.logocontainer
{
	text-align:center;
	width:100%;
	position:fixed;
	bottom:16vh;
	left:0px;
}

.logo
{
	width:68vh;
	margin: 0 auto;
}

@media only screen and (max-width: 768px)
{
    /* For mobile phones: */
	
    [class="bgbackgroundcontainer"]
	{
		
	}
	
	[class="bgbackground"]
	{
		width:182%;
	}
	
	[class="subject"]
	{
       
	}
	
	[class="logocontainer"]
	{
		top:20%;
		bottom:auto;
	}
	
	[class="logo"]
	{
		animation-property: width;
		animation-property: height;
		transition-duration: 2s;
        width: 89%;
	}
}