body {
  font-family: "Poppins";
}

.glass, .card {
  backdrop-filter: blur(15px) brightness(100%) !important;
  box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.2) !important;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.image {
  max-width: 130px;
}

.image img {
  width: 100%;
}

.card-image {
  min-height: 200px;
  height: 200px;
  background-color: grey;
}

.card-image img {
  width: 100%;
  cursor: pointer;
}

.small {
  font-size: smaller;
}

.text-secondary,
.text-body-secondary {
  font-family: "Roboto" !important;
}

.about-card {
  height: 100%;
}

.navigation {
  border-radius: 0px 20px 0px 20px;
}

.navbutton {
  cursor: pointer;
}

p {
  font-family: "Roboto" !important;
}

[data-bs-theme=light] .bg-dark-subtle {
  background-color: white !important;
}